Repository CoquiTones/CoquiTonesWeb, pull requests merged in 2025-06, with the labels that each got.

#20 Generte Mock Data for Testing and Schema change for CR
  backend/src/app.py
  backend/src/constants.py
  backend/src/dao.py
  backend/src/dbutil.py
  frontend/src/pages/Dashboard.jsx
  init.sql
  scripts/docker_deployment.sh
  scripts/test/generate_mock_data.py
Labels: enhancement, Backend

#22 Weeklychart
  backend/src/app.py
  backend/src/dao.py
Labels: Backend, Dashboard page

#24 recent reports endpoint
  backend/src/app.py
  backend/src/dao.py
Labels: Backend, Dashboard page

#19 Refactor Spectrogram, Add Axis for time and Frequency
  frontend/package-lock.json
  frontend/src/components/SoundAnalysisTools/Spectrogram.jsx
  frontend/src/components/SoundAnalysisTools/SpectrogramDataReader.js
  frontend/src/components/SoundAnalysisTools/processing/SpectrogramDataComputer.js
  frontend/src/components/SoundAnalysisTools/processing/useSpectrogramGeometry.js
  frontend/src/components/SoundAnalysisTools/render/Axis.jsx
  frontend/src/components/SoundAnalysisTools/render/SoundPlayer.jsx
  frontend/src/components/SoundAnalysisTools/render/Spectrogram.jsx
  frontend/src/components/SoundAnalysisTools/render/SpectrogramControls.jsx
  frontend/src/components/SoundAnalysisTools/render/SpectrogramMesh.jsx
  frontend/src/components/SoundAnalysisTools/render/SpectrogramToolTip.jsx
  frontend/src/components/shared/DataManager.jsx
  frontend/src/pages/SpectralAnalysis.jsx
  frontend/src/services/SpectogramFetch.js
  frontend/src/services/WorkerFactory.js
  scripts/docker_deployment.sh
  scripts/spectrogram_validation/spectrogramValidator.ipynb
Labels: Spectral Analysis Page, Frontend

#35 Errors return error log to client resolve #25
  backend/src/dao.py
  backend/src/dbutil.py
Labels: Backend
